<div class="header">
    <h1>BLOGS</h1>
    <div class="nav">
        <form action="/" method="">
            <input type="submit" value="Home">
        </form>
        <form action="/write" method="get">
            <input type="submit" value="Write">
        </form>
    </div>
</div>